@import "tailwindcss";
@layer base {

  
  :root {
    --bg-main: #ffffff;
    --bg-card: #F3F4F6;
  }

  [data-theme='dark'] {
    /* backgrounds colors */
    --bg-main: #0D0D0D;
    --bg-card: rgba(255, 255, 255, 0.05);
    --outline-variant: rgba(255, 255, 255, 0.1);
    --bg-buttons-menu: rgba(255, 255, 255, 0.1);
    --bg-button-selected: #FFFFFF;
    --bg-button-unselected: #000000;

    /* text colors */
    --title: #FFFFFF;
    --subtitle: #A1A1AA;
    --text-button-selected: #000000;
    --text-button-unselected: #A1A1AA;
    --text-on-surface-variant: #A1A1AA;

  }

  @theme {
    --color-main: var(--bg-main);
    --color-card: var(--bg-card);
    --color-outline-variant: var(--outline-variant);
    --color-title: var(--title);
    --color-subtitle: var(--subtitle);
    --color-buttons-menu: var(--bg-buttons-menu);
    --color-text-button-selected: var(--text-button-selected);
    --color-text-button-unselected: var(--text-button-unselected);
    --color-text-on-surface-variant: var(--text-on-surface-variant);
    --color-bg-button-selected: var(--bg-button-selected);
    --color-bg-button-unselected: var(--bg-button-unselected);
  }

  /* Estilos globales */
  html, body, #root {
    height: 100%;
    width: 100%;
    color: inherit;
  }


  /* CSS Reset Básico */
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Inter', sans-serif;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  button {
    cursor: pointer;
    border: none;
    background: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  ul,
  ol {
    list-style: none;
  }
}







